.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

body, html {
	height: auto;
}

.md-sidenav-left .thumbnail, .md-sidenav-left .thumbnail img {
	width: 100%;
}

.thumbnail button {
	position: absolute;
	right: 0px;
}


#copntent canvas, #content img {
	width: 100%;
}